* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

.content {
  width: 100%;
  height: 100svh;
  display: flex;
}

aside {
  width: 20svw;
  background-color: aquamarine;
}
main {
  width: 80svw;
}
.settings {
  height: 20svh;
  background-color: aqua;
}

dialog {
  height: 50%;
  width: 50%;
  position: absolute;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
  background-color: rgb(235, 235, 235);
  height: 80svh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;

  .todo {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border-left: 15px solid orange;
    padding: 15px;
    transition: background-color 0.2s;

    &:hover {
      background-color: whitesmoke;
    }

    .todo-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .wrapper {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
      column-gap: 20px;
    }

    input,
    select,
    textarea {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    textarea {
      resize: none;
      overflow-y: hidden;
      height: auto;
      box-sizing: border-box;
      overflow-wrap: break-word;
      line-height: 1.5em;
      max-height: 6em;
      min-height: 1.5em;
      margin-bottom: 10px;
    }
    .overdue {
      color: red;
    }
  }

  #addTodo {
    position: relative;
    border: 3px dashed grey;
    color: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border: 3px dashed black;
      background-color: whitesmoke;
      color: black;
    }

    .plus {
      aspect-ratio: 1/1;
      height: 50%;
    }

    .text {
      position: absolute;
      font-size: 1.2rem;
      bottom: 40px;
    }

    transition:
      background-color 0.2s,
      color 0.2s;
  }
}
