:root {
  --primary: #3a3a55;
  --secondary: #27273a;
  --primary-hover: #5a5a85;
  --logo: #2c2c4e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

.content {
  width: 100%;
  display: flex;

  input,
  select,
  textarea {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 5px;
  }

  textarea {
    font-family: inherit;
    resize: none;
    overflow-y: hidden;
    height: auto;
    box-sizing: border-box;
    overflow-wrap: break-word;
    max-height: 6em;
    line-height: 1.5em;
    min-height: 1em;
  }
}

aside {
  width: 20svw;
}

main {
  width: 80svw;
}

@media screen and (max-width: 1020px) {
  aside {
    width: 30svw;
  }

  main {
    width: 70svw;
  }
}

@media screen and (max-width: 760px) {
  .content {
    display: block;
  }

  aside {
    width: 100%;
  }

  main {
    width: 100%;
  }
}
