.settings {
  height: 20svh;
  background-color: var(--primary);
  padding: 20px;
  box-sizing: border-box;

  #settingsTitle {
    color: white;
    font-size: 2rem;
    display: flex;
    margin-bottom: auto;
    height: 50%;
  }

  #settingsOptions {
    height: 50%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;

    > * {
      color: white;
    }
  }
}
